@charset "UTF-8";

body {
	font-family: Arial, Helvetica, sans-serif;
}

#btn {/* Button formatting */
	height: 50px;
	font-size: 16pt;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bolder;
	outline: none;
}
